<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header>
        <% include ./partials/navbar %>
    </header>
    <main id="about-page-main">
        <div id="about-page">

        <!-- ABOUT ORDERVE -->
        <div class="left">
            <h1> v Pain Point </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
            <h1> v Orderve Up </h1>
            <p>Why your app is awesome: Lorem ipsum dolor sit amet, consectetur eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h3>Find The Perfect Service For Your Event </h3>
        </div>

        <!-- SIGN UP + PULL QUOTE, TAG LINE, ETC: -->
        <div class="right">
            <h1> > <a href="/auth/registerPage">Sign Up</a></h1>
            <div class="rightBody">
                <h4>Become a Host or an Orderve</h4>
                <div class="pullQuote">
                    <small>A pull quote can go here. It can be short or long-ish. It will be all nice and centered in a cute little box, like so. </small>
                </div> 
                <h4>Helping you find good help</h4>
                <h4>Helping good help find you</h4>
            </div>
        </div>
    </div> 
    </main>
    <% include ./partials/footer %>
</body>
</html>